<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Summarize text</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background: #000;">

<!-- Start of Main Section -->
 <div class="container">
    <div class="section">
	<h1>Text summarization</h1>
     <!-- Main Input For Receiving Raw Text -->
    <form method="POST" action="/predict">
         <textarea name="rawtext" cols="50" rows="5" class="form-control" required="true" placeholder="Enter Text Here"></textarea>
         <br/>
         <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset">Clear</button>
         <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit">Summarize</button>
    </form>
    </div>
  </div>
  <!-- End -->

  <!-- Result Display-->
  <section class="section section-solutions-about grey darken-2">
 <div class="container white-text">
   <table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Text</th>
    <th>Summary</th>
  </tr>
  {% if result %}
  {% for item in items %}
      <tr>
        <td><font size="1">{{item.id}}</font></td>
        <td><font size="1">{{item.text}}</font></td>
        <td><font size="1">{{item.summary}}</font></td>
      </tr>
  {% endfor %}
  {% endif %}
  </div>
</section>

</body>
</html>